body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

#lista-animais {
    list-style: none;
    padding: 0;
}

#lista-animais li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

#lista-animais li:hover {
    background-color: #f0f0f0;
}

#cadastrar-animal {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cadastrar-animal:hover {
    background-color: #45a049;
}